* {
  margin: 0;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'Circular Std', system, -apple-system, BlinkMacSystemFont,
    sans-serif;
  background-color: rgb(24, 24, 24);
  color: rgb(255, 255, 255);
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 100%;
}

div,
h1,
h2,
h3,
h4,
p,
a,
span {
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
